* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(216, 214, 214);
}

.header {
  height: 12vh;
  width: 95%;
  background-color: white;
  padding: 20px 15px;
  margin: 0 40px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 25%;
  display: flex;
  justify-content: start;
  padding: auto;
}

.logo img {
  object-fit: cover;
  margin-right: 95px;
}

.list-item {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.list-item ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.list-item ul li {
  list-style: none;
}

.list-item ul li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.btn {
  width: 25%;
  margin-left: 15px;
}

.btn button {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid green;
  background-color: green;
  color: white;
  margin-left: 15px;
}

.btn button:hover {
  color: green;
  background-color: white;
  transition: 0.5s;
}

.container {
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 40px;
}

.intro {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}
.intro h3 {
  text-align: center;
  line-height: 25px;
  font-size: 15px;
}

.intro p {
  text-align: center;
  padding: 15px;
  line-height: 25px;
}

.bon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.bon button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 510px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
}

.intro .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.intro img {
  height: 200px;
  width: 400px;
  object-fit: cover;
}
