* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(216, 214, 214);
}

.header {
  height: 15vh;
  width: 95%;
  background-color: white;
  padding: 20px 15px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item {
  width: 100%;
}

.list-item ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  padding-left: 15%;
  margin: 0%;
}

.list-item ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.list-item ul li a {
  text-decoration: none;
  color: black;
}

.list-item ul li:nth-child(4) {
  padding-right: 14%;
}

button {
  background-color: green;
  color: white;
  height: 40px;
  border: none;
  width: 150px;
  border-radius: 7px;
  margin-bottom: 5%;
}

.btn {
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
